<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
  <div>
    
    <!-- <nav class="navbar navbar-dark bg-dark"> -->
      <nav class="navbar navbar-dark" style="background-color:#009688;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div><h2 style="color: white;">SIEMENS</h2></div> -->
      <div><img src="assets/img/siemens_logo.svg" class="card-img-top"  style="height:25px;" alt="Siemens" ></div>
      <ul class="nav justify-content-center">
        <li
        *ngFor="let menuItem of menuItems"
        [ngClass]="{'active': menuItem.active}"
        (click)="handleMenuClick($event)"
        style=" margin-right:30px;"
        > 
        
        <!---<a href="{{menuItem.link}}" id="{{menuItem.label}}">{{menuItem.label}}</a>-->
        <a [routerLink]="[menuItem.link]" 
                 style="color:white; font-size: larger;font-weight: bold;"
                 routerLinkActive="router-link-active"
                 id="{{menuItem.label}}">{{menuItem.label}}</a>   
        </li>
        <!--- <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> --->
      </ul>
      <!-- <ul class="nav justify-content-center">
        <li class="nav-item">
          <a [routerLink]="['\home']" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['\aboutUs']" class="nav-link" >About</a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['\KanbanBoard']" class="nav-link" >KanbanBoard</a>
        </li>
       
      </ul> -->
      <ul style="text-align: right">
        <input type="button" class="btn btn-light" value="Log Out" (click)="onLogOut()">
      </ul>
    </nav>
  
  </div>
</body>
</html>

