<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <div class="card" style="width:500px; margin-left:31%;margin-top:10%;">
      <div style="background-color:#009688; height:62px;">
      <div><img src="assets/img/siemens_logo.svg" class="card-img-top"  style="height:30px;margin-top: 15px;;" alt="Siemens" ></div> 

        <!-- <h1 style="color:white;text-align: center;margin-bottom: 30px;margin-top:5px;">SIEMENS</h1> -->
      </div>
        <div class="card-body">
            <form >
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width:400px;">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" style="width:400px;">
                </div>
                <input class="btn btn-primary" style="width: 200px;margin-left: 120px;" type="button" value="Login" (click)="onLogin()"/>
              </form>
        </div>
      </div>
</body>
</html>

    

